:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bcg-color-button: #188ce8;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --bcg-color: #2f303a;
  --bcg-color-grey: #f5f4fa;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Стили для всего сайта */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* ГЛАВНАЯ */
/* Лого (class="logo-first" возможно убрать, не нужен?) */
.logo {
  color: var(--accent-color);
}

.nav .logo-second {
  color: var(--primary-black-color);
}

/* Область навигации */
.nav-section {
  color: var(--title-text-color);
}

/* Адреса */
.address .address-list {
  color: var(--primary-text-color);
}

/* Герой */
.hero-title {
  color: var(--primary-white-color);
}

.hero {
  background-color: var(--bcg-color);
}

/* Заголовки */
.section-title {
  color: var(--title-text-color);
}

/* Особенности */
.features .features-list {
  color: var(--title-text-color);
}

/* Команда */
.team-list .team-title {
  color: var(--title-text-color);
}

.team {
  background-color: var(--bcg-color-grey);
}

/* Футер */
.footer .logo-second {
  color: var(--primary-white-color);
}

.address-footer {
  color: var(--address-footer-color);
  font-style: normal;
}

.address-footer .map {
  color: var(--primary-white-color);
}

.address-footer .map:hover,
.address-footer .map:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--bcg-color);
}

/* Кнопка на главной */
.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--primary-white-color);
  background-color: var(--bcg-color-button);
}

/* ПОРТФОЛИО */
/* Фильтр */
.filter .button-secondary {
  color: var(--title-text-color);
  background-color: var(--bcg-color-grey);
}

.filter .button-secondary:hover,
.filter .button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Работы */
.work-title {
  color: var(--title-text-color);
}
